body {
    background-color: whitesmoke;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.pull-up {
    margin-top: -45px;
}

.btn-link {
    font-weight: bold;
}
.row{
    padding: 10px;
    background-color: white;
    margin: 15px;
}

.party-item{
    padding: 10px;
    margin-bottom: 0;
}

.user-item {
    padding: 5px;
}
.party-item:hover {
    background-color: lightgray;
}

hr {
    margin: 5px;
}